.container{
    display: grid;
    grid-template-columns: 2fr 4fr;
    height: 100vh;

}

.content-container{
    background-color: rgb(97, 100, 73);
    grid-column: 2;
    display: flex;
    flex-direction: column;
}

.content{
    height: 100%;
}

#form-container{
    display: none;
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: wheat;
    padding: 20px;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(255,255,255,0.2);
    border-radius: 8px;
    min-width: 400px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#task-form{

    border: none;
}

#task-info{
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: none;
}

#task-name{
    height: 35px;
}

input, textarea, fieldset{
    border: none;
    background-color: wheat;
}


.divider{
    height: 1px;
    width: 100%;
    background-color: rgb(4, 4, 4);
}

#bottom{
    justify-content: right;
}

#overlay{
    display: none;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index:999;
}

.sidebar-container{
    display: flex;
    flex-direction: column;
    background-color: brown;
}

nav{
    display: flex;
    height: 40px;
    border: 1px solid wheat;
    align-items: center;
    padding: 5px;
    margin-bottom: 5px;
}

.task-menu{
    display:flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
}

button{
    height: 35px;
    text-align: left;
}

.project-title{
    padding: 5px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title{
    margin-bottom: 10px;
}

.content-nav{
    color:grey;
    justify-content: right;
}

.task{
    width: 80%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    padding: 2px;
    gap: 1px;
    margin: 2px;
}

.taskHead{
    display: flex;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
    padding: 2px;
    background-color: white;
}

.taskBody{
    display: flex;
    flex-direction: column;
    min-height: 10px;
    border: 1px solid black;
    padding: 2px;
    background-color: white;
    
}

.taskBottom{
    display: flex;
    justify-content: end;
    gap: 5px;
}

.taskDivider{
    height: 1px;
    background-color: rgb(67, 60, 60);
    width:90%;
    margin: 1px;

}

#project-box{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.project{
    display:flex;
    width: 100%;
    height: 30px;
    background-color: white;
    border: 1px solid black;
    padding: 2px;
    align-items: center;
}

#project-title{
    color: beige;
    padding-left: 50px;
}